body {
    width: 100vw;
    height: 100vh;
    /* background: #fafbff; */
  }
  .floatingButtonWrap {
      display: block;
      position: fixed;
      bottom: 95px;
      right: 45px;
      z-index: 999999999;
  }
  
  .floatingButtonInner {
      position: relative;
  }
  
  .floatingButton {
      display: block;
      width: 60px;
      height: 60px;
      text-align: center;
      background: -webkit-linear-gradient(45deg, #8769a9, #507cb3);
      background: -o-linear-gradient(45deg, #8769a9, #507cb3);
      background: linear-gradient(45deg, #8769a9, #507cb3);
      color: #0dec18;
      line-height: 75px;
      position: absolute;
      border-radius: 50% 50%;
      bottom: 0px;
      right: 0px;
      border: 2px solid #0ff;
      /* opacity: 0.3; */
      opacity: 1;
      box-shadow: 0 0 10px #0ff, 0 0 10px #0ff, 0 0 10px #0ff;
      transition: box-shadow 0.3s ease-in-out;
  }
  
  .floatingButton .fa {
      font-size: 40px !important;
  }
  
  .floatingButton.open,
  .floatingButton:hover,
  .floatingButton:focus,
  .floatingButton:active {
      opacity: 1;
      color: #26fa42;
  }
  
  
  .floatingButton .fa {
      transform: rotate(0deg);
      transition: all 0.4s;
  }
  
  .floatingButton.open .fa {
      transform: rotate(360deg);
  }
  
  .floatingMenu {
      position: absolute;
      bottom: 60px;
      right: 0px;
      width: 60px;
      display: none;
  }

  .floatingMenu li a i {
    font-size: 40px;
  }
  
  .floatingMenu li {
    
      width: 100%;
      float: right;
      list-style: none;
      text-align: right;
      margin-bottom: 5px;
  }
  .floatingMenu li img {
    
    width: 100%;
    float: right;
    list-style: none;
    text-align: right;
    margin-bottom: 0px;
}
  
  .floatingMenu li a {
      padding: 8px 8px;
      display: inline-block;
      background: transparent;
      color: #caaf17;
      border-radius: 35px;
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.4s;
      /* -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22);
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.22); */
      -webkit-box-shadow: 1px 3px 5px rgba(211, 255, 215, 0.5);
      box-shadow: 1px 3px 5px rgba(211, 224, 255, 0.5);
  }
  
  .floatingMenu li a:hover {
      margin-right: 10px;
      text-decoration: none;
  }