<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>BINOD</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        #app {
            color: #ffffff;
        }

        .mian[data-v-3966082f] {
            background-color: #22275b
        }

        .mian .box[data-v-3966082f] {
            padding: .4rem;
            background: #22275b
        }

        .mian .box .list[data-v-3966082f] {
            background: #22275b;
            border-radius: 0rem;
            overflow: hidden
        }

        .mian .box .list .item[data-v-4e585e69] {
    padding: 0.26667rem 0.4rem;
    border: 2px solid;
    border-radius: 15px;
}

        .mian .box .list .item[data-v-3966082f] {
            padding: .26667rem .4rem
        }

        .mian .box .list .item .money[data-v-3966082f] {
            font-size: .4rem;
            color: #fb4e4e
        }

        .mian .box .list .item .money.action[data-v-3966082f] {
            color: #6abe57
        }

        .mian .box .list .item .number[data-v-3966082f],
        .mian .box .list .item .time[data-v-3966082f] {
            font-size: .32rem;
            color: #fff
        }

        .mian .box .list .item .number[data-v-3966082f] {
            font-size: .4rem
        }

        .mian .box .list .item .number .btn[data-v-3966082f] {
            padding: .13333rem .26667rem;
            font-size: .32rem;
            margin-left: .26667rem;
            border-radius: .13333rem;
            background-color: #ffce1f;
            color: #fff
        }

        .mian .box .list .item .state[data-v-3966082f] {
            text-align: center;
            font-weight: 600
        }

        .mian .box .list .item .txt[data-v-3966082f] {
            text-align: center
        }

        html {
            -webkit-tap-highlight-color: transparent
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif
        }

        a {
            text-decoration: none
        }

        button,
        input,
        textarea {
            color: inherit;
            font: inherit
        }

        [class*=van-]:focus,
        a:focus,
        button:focus,
        input:focus,
        textarea:focus {
            outline: 0
        }

        ol,
        ul {
            margin: 0;
            padding: 0;
            list-style: none
        }

        .navbar[data-v-106b99c8] {
        background: linear-gradient(90deg, rgb(43, 50, 112) 0%, rgb(43, 50, 112) 100%) !important;
        }
        
        .item.c-row.c-row-between.m-b-10 {
        border: 1px solid;
        border-radius: 15px;
        }
        
        
        
        
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-3966082f="" class="mian">
            <div data-v-106b99c8="" data-v-3966082f="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Notifications</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-3966082f="" class="box">
               
            </div>
            
            
            <div data-v-3966082f="" class="box">
                <div data-v-3966082f="" class="list m-b-20">
                    <div data-v-3966082f="" role="feed" class="van-list">

                        <div class="lisys">
                        </div>

                    </div>
                </div>
            </div>
            
         
         
            
            
    <!-- Add jQuery or any other necessary scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
    $(document).ready(function () {
        
        
        Date.prototype.toShortFormat = function() {

            const monthNames = ["Jan", "Feb", "Mar", "Apr",
                                "May", "Jun", "Jul", "Aug",
                                "Sep", "Oct", "Nov", "Dec"];
            
            const day = this.getDate();
            
            const monthIndex = this.getMonth();
            const monthName = monthNames[monthIndex];
            
            const year = this.getFullYear();
            
            return `${day}-${monthName}-${year}`;  
        }

        function formatAMPM(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
          }
          

        $.ajax({
            type: "GET",
            url: "/api/webapi/updatenotifications",
            dataType: "json",
            success: function (response) {
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/getnotifications",
                    dataType: "json",
                    success: function (response) {
                        if (response.rows.length == 0) return;
                        let html = response.rows.map((data,ind) => {
                            let today = new Date(data.datetime);
                            let not_time = formatAMPM(new Date(data.datetime));
                            
                            return `  <div data-v-3966082f="" class="item c-row c-row-between m-b-10">
                    
                                <div data-v-3966082f="" data-source="${data.noti_type}" onclick="redirect_click(this);">
                                
                                    <div data-v-3966082f="" class="number c-row">
                                        ${ind+1}
                                        <div data-v-3966082f="" class="m-l-10 tag-read van-image" data-clipboard-text="" style="width: 18px; height: 15px;"><img src="/images/copy.png" class="van-image__img" /></div>
                                    </div>
                                    <div data-v-3966082f="">
                                        <div data-v-3966082f="" class="money action m-b-10 m-t-10">
                                            <!---->
                                            <span data-v-3966082f="">${data.description}</span>
                                        </div>
                                    </div>
                                    <div data-v-3966082f="" class="time">`+ not_time+`</div>
                                </div>
                                <div data-v-3966082f="" style="width:40%;">
                                    <div data-v-3966082f="" class="state m-b-5" style="font-weight: 500;">
                                        <!---->
                                        <div data-v-4e585e69="" > ` + today.toShortFormat() + `</div>
                                        <!---->
                                    </div>
                                </div>
                            </div>`;
                        }).join("");
                        $('.box:eq(1) .lisys').html(html);
                    }
                });
            }
        }); // Other functions like clipboard and alertMess can remain unchanged
    });

    function redirect_click(ev)
    {
        var note_type = $(ev).attr('data-source').trim();
        let redirect_link = "/";
        if(note_type == 'Referral' ||  note_type == 'Password' || note_type == 'Transfer')
        {
            redirect_link = '/';
        }
        else if(note_type == 'Withdraw')
        {
            redirect_link = '/wallet/withdrawalrecord';
        }
        else if(note_type == 'Recharge')
        {
            redirect_link = '/wallet/rechargerecord';
        }
        else if(note_type == 'Commission')
        {
            redirect_link = '/promotion/promotionDes';
        }
        else if(note_type == 'Level')
        {
            redirect_link = '/promotion/tutorial';
        }
        window.location.href = redirect_link;
        return false;

    }
</script>
    
    
</body>



</html>