<!DOCTYPE html>
<html>

<head>
    <style>
        body{
            margin:0;
            padding:0;
            background:#2e24b8;
        }
        #messages{
            position: fixed;
            left:0;
            top:15%;
            width:100%;
            height:calc( 100% - 50px );
            background:#ecb7b7;
            overflow-y:auto;
            padding:10px;
            box-sizing: border-box;
        }
        #sendMsg{
            position: fixed;
            left:0;
            bottom:0;
            width: 100%;
            height:50px;
            background:#AAA;
        }
        #msgTxt{
            position: absolute;
            left:0;
            top:0;
            width:calc(100% - 100px);
            height:100%;
            padding-left:10px;
            box-sizing: border-box;
        }
        #msgBtn{
            position: absolute;
            right:0;
            top:0;
            width: 100px;
            height:100%;
        }
        .outer{
            width:100%;
            margin-top:10px;
            display:flex;
        }
        #inner{
            padding:10px;
            box-sizing: border-box;
            border-radius:10px;
        }
        .me{
            background:#342c80;
            color:#fff;
        }
        .notMe{
            background:#FFF;
            color:#a38b8b;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
</head>

<body>

    

    <div id="messages"></div>
    <div id="app">
        <div data-v-9f3a9836="" class="mian">


            <div data-v-106b99c8="" data-v-9f3a9836="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/keFuMenu'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center"> 
                        <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back"> 
                    </div>
                </div>
                
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            
           
          
        </div>
    </div>
    <div id="sendMsg">
        <input type="text" id="msgTxt" placeholder="TYPE YOUR MSG...">
        <input type="submit" id="msgBtn" value="send" onclick="module.sendMsg()">
    </div>

    <script>
        module = {};
    </script>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
        import { getDatabase, ref, set, remove, onChildAdded, onChildRemoved } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-database.js";

        var chatname = "chat123";
  function setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
      let expires = "expires=" + d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == ' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
          }
      }
      return "";
  }

  function unsetCookie() {
      setCookie('token', '', 0);
      setCookie('auth', '', 0);
  }
  fetch('/api/webapi/GetUserInfo')
      .then(response => response.json())
      .then(data => {
          $('.Loading').fadeOut(100);
          if (data.status === false) {
              unsetCookie();
              return false;
          };
          $('.name').text(data.data.name_user);
          chatname = data.data.name_user;
          console.log(chatname);

        const firebaseConfig = {
            apiKey: "AIzaSyDRtK5Z_TAgMUhDIBAV2X_psj4n5D09iqw",
            authDomain: "live-chess-dede7.firebaseapp.com",
            databaseURL: "https://live-chess-dede7-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "live-chess-dede7",
            storageBucket: "live-chess-dede7.firebasestorage.app",
            messagingSenderId: "1002758569165",
            appId: "1:1002758569165:web:5af6a95b24f5de03913d84",
            measurementId: "G-ZSNFPJ63B8"
        };

        const app = initializeApp(firebaseConfig);
        const db = getDatabase(app);

        // variables
        var msgTxt = document.getElementById('msgTxt');
        var sender = chatname;
        // if(sessionStorage.getItem('sender')){
        //     sender = sessionStorage.getItem('sender');
        // } else {
        //     sender = prompt('PLEASE ENTER YOUR NAME');
        //     sessionStorage.setItem('sender',sender);
        // }

        // TO SEND MESSAGES
        module.sendMsg = function sendMsg(){
            var msg = msgTxt.value;
            var timestamp = new Date().getTime();
            set(ref(db,"messages/"+timestamp),{
                msg : msg,
                sender : sender
            })

            msgTxt.value="";
        }

        // TO RECEIVE MSG
        onChildAdded(ref(db,"messages"), (data)=>{
            if(data.val().sender == sender){
                messages.innerHTML += "<div style=justify-content:end class=outer id="+data.key+"><div id=inner class=me>you : "+data.val().msg+"<button id=dltMsg onclick=module.dltMsg("+data.key+")>DELETE</button></div></div>";
            } else {
                messages.innerHTML += "<div class=outer id="+data.key+"><div id=inner class=notMe>"+data.val().sender+" : "+data.val().msg+"</div></div>";
            }
        })

        // TO DELETE MSG
        module.dltMsg = function dltMsg(key){
            remove(ref(db,"messages/"+key));
        }

        // WHEN MSG IS DELETED
        onChildRemoved(ref(db,"messages"),(data)=>{
            var msgBox = document.getElementById(data.key);
            messages.removeChild(msgBox);
        })
     });
    </script>
</body>

</html>