
<style>

  #wd_submit
  {
      background-color: white;
      color: #171B45;
      width: 100%;
  }
  #rule_win .p-r-15
  {
      padding-right: 0.2rem !important;
  }  
#rule_win .van-checkbox__label
{
    line-height: 0;
}
#rule_win .p-r-15
  {
      padding-right: 0.2rem !important;
  }
  #rule_win .van-checkbox__label
  {
      line-height: 10px;
  }

  #rule_win .container1 {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: .37333rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    #rule_win .container1 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    #rule_win .agree
    {
      padding-top: 11px;
    }

    /* Create a custom checkbox */
    #rule_win .checkmark1 {
      position: absolute;
      top: 6px;
      left: 0;
      height: 22px;
      width: 22px;
      background-color: #171b3f;
      border: 4px solid #26bd2f;
      text-align: center;
      padding-top: 2%;
      color: white;
    }
    
    /* On mouse-over, add a grey background color */
    #rule_win .van-checkbox__label .checkmark1:hover  {
      background-color: #171b3f;
      border: 4px solid #26bd2f;
    }
    
    /* When the checkbox is checked, add a blue background */
    #rule_win .container1 input:checked ~ .checkmark1 {
      background-color: #2196F3;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    #rule_win .checkmark1:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    #rule_win .container1 input:checked ~ .checkmark1:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    #rule_win .container1 .checkmark1:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
  .windisablesub-button {
    text-decoration: none;
    color: white;
    pointer-events: none;
} 
.winspan_db
{
  cursor: not-allowed;
}
  #wingo_join .tit, #wingo_join [data-v-a9660e98],#pop-choose
  {
    color: #171b3f;
  }
  #wingo_join .p-r-5,#wingo_join .con
  {
    color: white;
  }
  #rule_wingo .p-r-15
  {
      padding-right: 0.2rem !important;
  }

  #rule_wingo .van-checkbox__label
  {
      line-height: 0;
  }
</style>
<div class="van-overlay" style="z-index: 2031; display: none;"></div>
<div data-v-a9660e98="" id="wingo_join" class="popup-join van-popup van-popup--round van-popup--bottom" style="transform: translateY(400px);max-width: 10rem; left: auto; z-index: 2032; display: none;background-color: white;">
  <div data-v-a9660e98="" class="betting-mark colorred">
    <div data-v-a9660e98="" class="head">
      <div data-v-a9660e98="" class="box">
        <div data-v-a9660e98="" class="con">1 Minute</div>
        <div data-v-a9660e98="" class="color" style="color: rgb(109, 167, 244);">Choose<span data-v-a9660e98="" style="color: rgb(109, 167, 244);"   class="color p-l-10">Red</span></div>
      </div>
    </div>
    <div data-v-a9660e98="" class="info">
      <div data-v-a9660e98="" class="item c-row c-row-between">
        <div data-v-a9660e98="" class="tit">Amount</div>
        <div data-v-a9660e98="" class="c-row amount-box" data-money="1">
          <div data-x="1" data-v-a9660e98="" class="li" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">1</div>
          <div data-x="10" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">10</div>
          <div data-x="100" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">100</div>
          <div data-x="1000" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">1000</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-row-between">
        <div data-v-a9660e98="" class="tit">Quantity</div>
        <div data-v-a9660e98="" class="c-row c-row-between stepper-box">
          <div data-v-a9660e98="" class="li minus" style="background-color: rgb(240, 240, 240); color: rgb(200, 201, 204);">-</div>
          <div data-v-a9660e98="" class="digit-box van-cell van-field">
            <div class="van-cell__value van-cell__value--alone van-field__value">
              <div class="van-field__body">
                    <input type="tel" inputmode="numeric" class="van-field__control" oninput="value=value.replace(/\D/g,'')" value="1">
                </div>
            </div>
          </div>
          <div data-v-a9660e98="" class="li plus c-row c-row-middle-center" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">+</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-flew-end">
        <div data-v-a9660e98="" class="c-row multiple-box">
          <div data-x="1" data-v-a9660e98="" class="li" style="background-color: rgb(251, 78, 78); color: rgb(255, 255, 255);">X1</div>
          <div data-x="5" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">X5</div>
          <div data-x="10" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);"> X10 </div>
          <div data-x="20" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);"> X20 </div>
          <div data-x="50" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">X50</div>
          <div data-x="100" data-v-a9660e98="" class="li" style="background-color: rgb(240, 240, 240); color: rgb(0, 0, 0);">X100</div>
        </div>
      </div>
      <div data-v-a9660e98="" class="item c-row c-row-middle">
        <div data-v-42f27458=""  id="rule_win"  class="van-checkbox">
          <!-- <div class="van-checkbox__icon van-checkbox__icon--square"> -->
              <!-- <i class="van-icon "
                  style="border-color: white;background-color: white;">
                  
              </i> -->
          <!-- </div>  -->
          <span class="van-checkbox__label">
              <label class="container1" onclick="tdOnclick(this)"> 
                  <span class="checkmark1"></span>
                  <input type="checkbox">
                  <div data-v-42f27458="" class="agree p-r-15">I agree to</div>
               </label>
              
          </span>
      </div>
        <span data-v-a9660e98="" class="txt">Pre-selling rules</span>
      </div>
    </div>
    <div data-v-a9660e98="" class="foot c-row">
      <div data-v-a9660e98="" class="left" style="color: white;"> Cancel </div>
      <div data-v-42f27458="" class="right c-row c-row-middle-center confirm" id="wd_submit">
        <div id="win_submit">
            <span data-v-03b808c2="" class="p-r-5">Total Amount</span>
            <span data-v-03b808c2="" value="" class="result">1</span>
            <span class="info-bet" xvalue="1" money="1"></span>
    </div>
    </div>
    </div>
  </div>
</div>